body {
  margin: 0;
  padding: 0;
  background: #f2f2f7;
  font-family: "Gill Sans", sans-serif;
}

#container {
  width: 80vw;
  margin: 0 auto;
}

@media screen and (max-width: 559px) {
  .title {
    font-size: 40px;
    margin: 40px auto;
    text-align: center;
    font-weight: 200;
  }
  .box-area {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (100px)[3];
        grid-template-rows: repeat(3, 100px);
    -ms-grid-columns: (100px)[3];
        grid-template-columns: repeat(3, 100px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box-area__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 17px;
    margin: 8px;
  }
  .box-area__item--Active {
    background: #eee;
    -webkit-box-shadow: inset 12px 12px 33px #aeaeae, inset -12px -12px 33px #ffffff;
            box-shadow: inset 12px 12px 33px #aeaeae, inset -12px -12px 33px #ffffff;
  }
  .box-area__item--disActive {
    background: linear-gradient(145deg, #ffffff, #d6d6d6);
    -webkit-box-shadow: 12px 12px 33px #aeaeae, -12px -12px 33px #ffffff;
            box-shadow: 12px 12px 33px #aeaeae, -12px -12px 33px #ffffff;
  }
  .score-area {
    text-align: center;
    border-radius: 33px;
    background: #f2f2f7;
    -webkit-box-shadow: 5px 5px 10px #e3e3e8, -5px -5px 10px #ffffff;
            box-shadow: 5px 5px 10px #e3e3e8, -5px -5px 10px #ffffff;
  }
  .score-area__title {
    font-size: 32px;
    padding: 8px;
    font-weight: 200;
  }
  .score-area__count {
    font-size: 24px;
  }
  .score-area__resetBtn {
    border-radius: 8px;
    text-transform: uppercase;
    width: 80px;
    padding: 8px 16px;
    margin: 0 0 8px 0;
    border: none;
    text-transform: uppercase;
    border-radius: 8px;
    background: linear-gradient(145deg, #ffffff, #dadade);
    -webkit-box-shadow: 5px 5px 13px #ceced2, -5px -5px 13px #ffffff;
            box-shadow: 5px 5px 13px #ceced2, -5px -5px 13px #ffffff;
  }
  .score-area__resetBtn:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: linear-gradient(145deg, #dadade, #ffffff);
    -webkit-box-shadow: 5px 5px 13px #ceced2, -5px -5px 13px #ffffff;
            box-shadow: 5px 5px 13px #ceced2, -5px -5px 13px #ffffff;
  }
  .score-area__mess {
    margin: 8px;
    padding: 8px 0;
    font-size: 40px;
  }
}

@media screen and (min-width: 560px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 690px;
    margin: 0 auto;
  }
  .title {
    font-size: 48px;
    margin: 8vh auto;
    text-align: center;
    font-weight: 200;
  }
  .box-area {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-rows: (130px)[3];
        grid-template-rows: repeat(3, 130px);
    -ms-grid-columns: (130px)[3];
        grid-template-columns: repeat(3, 130px);
    width: 390px;
  }
  .box-area__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 8px;
    border-radius: 17px;
  }
  .box-area__item--Active {
    background: #eee;
    -webkit-box-shadow: inset 12px 12px 33px #aeaeae, inset -12px -12px 33px #ffffff;
            box-shadow: inset 12px 12px 33px #aeaeae, inset -12px -12px 33px #ffffff;
  }
  .box-area__item--disActive {
    background: linear-gradient(145deg, #ffffff, #d6d6d6);
    -webkit-box-shadow: 12px 12px 33px #aeaeae, -12px -12px 33px #ffffff;
            box-shadow: 12px 12px 33px #aeaeae, -12px -12px 33px #ffffff;
  }
  .score-area {
    text-align: center;
    margin: 8px 16px;
    width: 300px;
    border-radius: 33px;
    background: #f2f2f7;
    -webkit-box-shadow: 5px 5px 10px #e3e3e8, -5px -5px 10px #ffffff;
            box-shadow: 5px 5px 10px #e3e3e8, -5px -5px 10px #ffffff;
  }
  .score-area__title {
    font-size: 40px;
    margin: 8px 0 24px 0;
    font-weight: 200;
  }
  .score-area__count {
    margin: 0 0 24px 0;
    font-size: 24px;
  }
  .score-area__resetBtn {
    width: 80px;
    padding: 8px 16px;
    margin: 0 0 24px 0;
    border: none;
    text-transform: uppercase;
    border-radius: 8px;
    background: linear-gradient(145deg, #ffffff, #dadade);
    -webkit-box-shadow: 5px 5px 13px #ceced2, -5px -5px 13px #ffffff;
            box-shadow: 5px 5px 13px #ceced2, -5px -5px 13px #ffffff;
  }
  .score-area__resetBtn:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: linear-gradient(145deg, #dadade, #ffffff);
    -webkit-box-shadow: 5px 5px 13px #ceced2, -5px -5px 13px #ffffff;
            box-shadow: 5px 5px 13px #ceced2, -5px -5px 13px #ffffff;
  }
  .score-area__mess {
    text-align: center;
    margin: 32px 0 0 0;
    font-size: 40px;
  }
}
/*# sourceMappingURL=style.css.map */